@import 'second-css';


.title-text {
  display: inline;
}

.large-button {
  width: 6rem;
  margin: 1rem 0;
  padding: 1rem 0;
  background: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
}

.large-button:hover {
  background: #bbb;
}
