@import 'styles/reset';
@import 'styles/variables';
@import 'styles/shopping';
@import 'styles/containers';

.container {
  background: $main-color;
  .content {
    margin-left: 1rem;
    background: $secondary-color;
    .sub-content {
      margin-left: 1rem;
    }
  }
}

nav {
  background: black;
  position: fixed;
  z-index: 9999;
}

.nav-container {
  width: 100vw;
  height: 5rem;
}

.nav-ul {
  display: block;
  height: 5rem;
  width: 20rem;
  list-style-type: none;
  background: black;
  height: 3rem;
  margin: 0;
}

.nav-ul li {
  color: white;
}

@media (min-width: 480px) {
  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
